@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 5rem;
}

body {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  transform: translateY(0%);
}
.heading h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  padding-left: 0.6rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: none repeat;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  color: #000;
  background: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
}
.header .icons:hover {
  color: #eacf4f;
}
.header .icons label {
  font-size: 2.5rem;
  color: #000;
}
.header .icons label:hover {
  color: #eacf4f;
}
.header #menu-btn {
  display: none;
}
.header .navbar a {
  color: #000;
  font-size: 2rem;
  margin: 2rem;
}
.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #eacf4f;
}
.header .navbar .space {
  display: inline-block;
  width: 16rem;
}
.header .logo {
  position: absolute;
  top: 4.3rem;
  left: 47.3%;
  transform: translateY(-54%);
}
.header .logo img {
  width: 9rem;
}
.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .search-form.active {
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
}
.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
}
.header .fa-times-circle {
  transform: rotate(180deg);
}

.home {
  margin-top: 10rem;
  background: url(../images/home-bg.png) no-repeat;
  background-size: 100% 50%;
  background-position: center;
}
.home .content {
  max-width: 70rem;
  text-align: center;
  margin: 0 auto;
}
.home .content img {
  width: 100%;
}
.home h3 {
  font-size: 4rem;
  margin-top: 4rem;
  text-transform: uppercase;
  color: #fff;
}
.home p {
  font-size: 1.7rem;
  line-height: 2;
  margin-bottom: 4rem;
  color: #aaa;
  padding: 2rem 0;
  text-transform: none;
  text-align: center;
}

.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.service .box {
  text-align: center;
  padding: 2rem;
}
.service .box i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 3.5rem;
  color: #000;
  background-color: #eacf4f;
  margin-bottom: 1rem;
  border-radius: 50%;
}
.service .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.service .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.menu .box-container .box {
  text-align: center;
}
.menu .box-container .box:hover img {
  transform: translateY(-1rem);
}
.menu .box-container .box img {
  height: 30rem;
}
.menu .box-container .box .content {
  padding: 2rem 0;
}
.menu .box-container .box .content .stars {
  margin-bottom: 1rem;
}
.menu .box-container .box .content .stars i {
  font-size: 2rem;
  color: #eacf4f;
}
.menu .box-container .box .content h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}
.menu .box-container .box .content .price {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content .title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}
.about .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.about .icons h3 {
  flex: 1 1 40rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
}
.about .icons h3 i {
  padding-right: 0.5rem;
  color: #eacf4f;
}

.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.reviews .box-container .box {
  text-align: center;
  padding: 2rem 0;
}
.reviews .box-container .box img {
  border-radius: 50%;
}
.reviews .box-container .box h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding: 3rem 0;
}
.reviews .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  transform: translateY(-10%);
}
.reviews .box-container .box .stars {
  padding: 1rem 0;
  font-size: 2rem;
  color: #eacf4f;
}
.reviews .box-container #box-ladri {
  transform: translateY(-2px);
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact .row .map {
  flex: 1 1 40rem;
}
.contact .row .form {
  flex: 1 1 40rem;
}
.contact .row .form .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}
.contact .row .form .icons-container .icons {
  flex: 1 1 17rem;
  text-align: center;
}
.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #eacf4f;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .row .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}
.contact .row .form .icons-container .icons p {
  font-size: 1.4rem;
  line-height: 2;
  color: #aaa;
}
.contact .row .form form {
  text-align: center;
}
.contact .row .form form .box {
  padding: 1.2rem 1.4rem;
  color: #fff;
  background: none;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 100%;
  margin: 0.7rem;
}
.contact .row .form form .box:focus {
  border-color: #eacf4f;
}
.contact .row .form form textarea {
  height: 15rem;
  resize: none;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.blogs .box-container .box {
  position: relative;
}
.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.blogs .box-container .box .image .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.blogs .box-container .box .image .icons a {
  font-size: 1.5rem;
  color: #fff;
}
.blogs .box-container .box .image .icons a i {
  padding-right: 0.5rem;
  color: #eacf4f;
}
.blogs .box-container .box .image .icons a:hover {
  color: #eacf4f;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .content {
  padding: 1rem;
  text-align: center;
}
.blogs .box-container .content h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
}
.blogs .box-container .content p {
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2;
  color: #aaa;
  position: relative;
}

.footer {
  text-align: center;
  background: linear-gradient(transparent, #000);
}
.footer .links a {
  margin: 1rem;
}
.footer .credit {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
  padding-top: 2rem;
}
.footer .credit span {
  color: #eacf4f;
}

@media (max-width: 1420px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1320px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1250px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1130px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1160px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 6rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1080px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1060px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
  a{
    color:#fff
  }
}
@media (max-width: 1070px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
  a{
    color:#fff
  }
}
@media (max-width: 1048px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 3rem;
    left: 46.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1039px) {
  html {
    font-size: 55%;
  }
  a{
    color:#fff
  }

  section {
    padding: 3rem 2rem;
  }

  .header {
    justify-content: flex-end;
    gap: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
    color: #fff;
  }
  .header .navbar .space {
    display: none;
  }
  .header .logo {
    transform: translateX(0);
    left: 6rem;
    top: 2rem;
  }
}
@media (max-width: 768px) {
  .home .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
